.centrum {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5% auto;
  height: 60%;
  width: 100vmin;
  aspect-ratio: 3/2;
  background-color: black;
}
.gray {
  filter: grayscale(100%);
  opacity: 0.3;
}
img {
  height: 90%;
  padding-top: 2%;
}
